# Forzar a GitHub Linguist a ignorar archivos de configuracion y scripts en las estadisticas
*.js linguist-vendored
*.html linguist-vendored
*.json linguist-vendored
*.css linguist-vendored
*.md linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored

# Asegurar que el frontEnd y backend siempre sumen para TypeScript
*.ts linguist-detectable=true
*.tsx linguist-detectable=true
